<header class="bg-primary text-white text-center py-3">
    <h1>Application de gestion de documents</h1>
    <nav>
        <a href="/" class="text-white mx-3">Accueil</a>
        <a href="/documents" class="text-white mx-3">Documents</a>
    </nav>
</header>
